/* ===== GENERAL ===== */
body {
    background-color: hsl(22, 50%, 50%);
    color: hsl(47, 26%, 93%);
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 3rem;
}

/* ===== HEADER ===== */
header {
    background-color: hsl(0, 53%, 36%);
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
}

#recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.recipe-article {
    background-color: hsl(0, 53%, 36%);
    padding: 1rem;
}

.image-box {
    height: 30rem;
    width: 30rem;
    overflow: hidden;
    position: relative;
}

.recipe-article img {
    height: 30rem;
    width: 100%;
    transform: translateY(0%);
    position: absolute;
    top: 0%;
    bottom: 0%;
    object-fit: cover;
}